:root {
    font-size: 62.5%;

}

body {
    background-color: #333;
    color: #dedede;
    font-size: 1.6rem;
    padding: 20px 30px;
}

button {
    cursor: pointer;
}

[data-challenges-container] {
    display: flex;
    flex-wrap: wrap;
}

[data-challenges-container] li {
    width: 50%;
    font-size: 4.2rem;
    min-height: 250px;
}

/* [data-challenges-container] li h2, [data-challenges-container] li p */
[data-challenges-container] li > :is(h2, p, form, label) {
    font-size: 1.6rem;
}

.stylized-button-challenge-5 {
  background-color : violet;
  color : white;
  text-decoration : underline;
  padding : 0.4rem 1.2rem;
}

[data-challenges-container] li > :is(p.stylized-button-challenge-5) {
  font-size : 2.2rem;
}

[data-photos-container] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

[data-photos-container] img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}